<h3>Welcome <%= current_user.full_name %></h3>

<form action="/update" method="post" class="btn-form">
  <b>Spark Core ID:</b> <span id="js-core-id" data-existing-id="<%= current_user.core_id %>"><%= current_user.core_id || "Click to edit." %></span>

  <br><br>

  <div class="btn-column">
    <% (1..3).each do |button| %>
      <%= render "button_selection", button: button %>
    <% end %>
  </div>

  <div class="btn-column">
    <% (4..6).each do |button| %>
      <%= render "button_selection", button: button %>
    <% end %>
  </div>

  <div style="clear:both"></div>

  <%= submit_tag "Submit", class: "btn btn-primary" %>
  <%= link_to "Reload Projects/Tasks", "/reconfigure", class: "btn btn-default" %>

</form>
